@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 48 96% 53%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 48 96% 53%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 83%;
    --input: 240 6% 83%;
    --ring: 48 96% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 48 96% 53%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 5% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 48 96% 53%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 16%;
    --input: 240 5% 16%;
    --ring: 48 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
