@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 4% 90%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 208 100% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 208 20% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 270 16% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 20% 85%;
    --input: 208 20% 92%;
    --ring: 197 71% 73%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 10%;
    --foreground: 210 40% 98%;
    --card: 224 71% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 71% 12%;
    --muted-foreground: 210 40% 60%;
    --accent: 270 16% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 197 71% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
